/EventoWeb.Inscricao/EventoWeb.Inscricao/obj/
/EventoWeb.Inscricao/EventoWeb.Inscricao/.idea/
/EventoWeb.Inscricao/.idea/
/EventoWeb.Inscricao/bin/
/.idea/
/EventoWeb.Inscricao.Testes/obj/
EventoWeb.Inscricao.Testes/bin/
/EventoWeb.Inscricao/.vs/EventoWeb.Inscricao
/EventoWeb.Inscricao/EventoWeb.Inscricao/bin/Debug/net9.0
*.user
/front/.flutter-plugins
/EventoWeb.Inscricao/EventoWeb.Inscricao/bin/Release
/EventoWeb.Inscricao/EventoWeb.Inscricao/Properties/PublishProfiles
/EventoWeb.Inscricao/EventoWeb.Inscricao/dotnet-tools.json
EventoWeb.Inscricao/EventoWeb.Inscricao/bin/
