/EventoWeb.Inscricao/EventoWeb.Inscricao/obj/
/EventoWeb.Inscricao/EventoWeb.Inscricao/.idea/
/EventoWeb.Inscricao/.idea/
/EventoWeb.Inscricao/bin/
/.idea/
/EventoWeb.Inscricao.Testes/obj/
EventoWeb.Inscricao.Testes/bin/
/EventoWeb.Inscricao/.vs/EventoWeb.Inscricao
/EventoWeb.Inscricao/EventoWeb.Inscricao/bin/Debug/net9.0
*.user
